.Registration {
    position: relative;
    height: 100%;
    background: url("https://c0.wallpaperflare.com/preview/18/875/686/sale-clothes-shopping-retail.jpg") center no-repeat;
    background-size: cover;
}

.Registration__gradient {
    width: 100%;
    z-index: 1;
    height: 100vh;
    background: rgba(0, 0, 0, 0.4);
    background-image: linear-gradient(to top,
            rgba(0, 0, 0, 0.6) 0,
            rgba(0, 0, 0, 0)60%,
            rgba(0, 0, 0, 0.6)100%);
}